/*Generales*/
  .h1-strong{
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

body {
    min-height: 75rem;
    padding-top: 3.5rem;
}

.jumbotron{
    padding: 20px;
    border-radius: 20px;
}

.dropdown-menu *{

}

/*Cabecera*/
.navigation {
    padding: 0px !important;
}

.navigation .navbar{
    border-radius: 0px !important;
    background: #e53c37 !important;
    border: none;
}

.navigation .navbar *{
    color: white !important;
}

.navigation .navbar a:hover{
    background: #cc1717 !important;
}