<nav>
  <ul *ngIf="identity">
    <li>
      <a href="#">{{title}}</a>
    </li>
    <li>
      <a [routerLink]="['/home']" [routerLinkActive]="['active']">
        <span>
          <i class="fa fa-home" aria-hidden="true"></i>
        </span>Inicio</a>
    </li>
    <li>
      <a href="#">
        <span>
          <i class="fa fa-list" aria-hidden="true"></i>
        </span>TimeLine</a>
    </li>
    <li>
      <a [routerLink]="['/gente']" [routerLinkActive]="['active']">
        <span>
          <i class="fa fa-users" aria-hidden="true"></i>
        </span>Gente</a>
    </li>

    <li class="has-children">
      <a href="#">{{identity.name}}
        <span>
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </span>
        <div class="image-menu pull-left">
            <a href="#">
                <img src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity && identity.image">
              </a>
        </div>
      </a>
      <ul>
        <li>
          <a href="#">
            <span>
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>Mi perfil</a>
        </li>
        <li>
          <a [routerLink]="['/mis-datos']">
            <span>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </span>Mis datos</a>
        </li>
        <li>
          <a (click)="logout()" href="#">
            <span>
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </span>Cerrar sesión</a>
        </li>
      </ul>
    </li>
  </ul>

  <ul *ngIf="!identity">
    <li>
      <a href="#">{{title}}</a>
    </li>

    <li>
      <a [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
    </li>

    <li>
      <a [routerLink]="['/registro']" [routerLinkActive]="['active']"> Registro</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>